footer{
  position: sticky;
  background-color: #EEE;
  bottom: 0;
}
.App {
  text-align: center;
  min-height: 90vh;
}
.App-notFound{
  min-height: 90vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.navItem {
  float: left;
  text-align: center;
  flex: 1;
  margin: 0;
  padding: 3px;
  list-style-type: none; 
  border-right: 1px solid #bbb;
}
.navItem:first-child {
  /* margin-left: 25px; */
}

.navItem:last-child {
  border-right: none;
}

.navItem a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

.navItem a:hover {
  background-color: #111;
}

.navItem .active {
  background-color: #4CAF50;
}

.navItem .active:hover {
  background-color: #383;
}


/*  */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}
